<div class="my-5">
  <h2 class="my-4">Shop <span class="text-main">Products</span></h2>
  <input
    [(ngModel)]="searchVal"
    type="text"
    class="form-control w-75 my-3 m-auto"
    placeholder="search ..."
  />
  <div class="row">
    <div *ngFor="let data of products | search : searchVal" class="col-md-3">
      <div class="product rounded-4 p-3 text-center fw-bold">
        <a [routerLink]="['/details', data._id]">
          <img
            [src]="data.imageCover"
            [alt]="data.title"
            class="w-100 imgStyle"
          />
          <p class="text-main">{{ data.category.name }}</p>
          <h6 class="fw-bold">
            {{ data.title.split(" ").slice(0, 2).join(" ") }}
          </h6>
          <div class="text-muted d-flex justify-content-between mb-2">
            <span>{{ data.price | currency : "EGP" }} </span>
            <span class="rating-color"
              ><i class="fa-solid fa-star"></i> {{ data.ratingsAverage }}</span
            >
          </div>
        </a>
        <button
          (click)="addToCart(data._id)"
          class="btn bg-main text-light w-100"
        >
          Add +
        </button>
      </div>
    </div>
  </div>
</div>
